@model AppWebCadastroAluno.Models.MatriculaDisciplina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatriculaDisciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatriculaDsciplinaId" />
            <div class="form-group">
                <label asp-for="DisciplinaId" class="control-label"></label>
                <select asp-for="DisciplinaId" class="form-control" asp-items="ViewBag.DisciplinaId"></select>
                <span asp-validation-for="DisciplinaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatriculaId" class="control-label"></label>
                <select asp-for="MatriculaId" class="form-control" asp-items="ViewBag.MatriculaId"></select>
                <span asp-validation-for="MatriculaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
